# Configuración de Base de Datos
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=vimu_devs_db

# Configuración del Backend
NODE_ENV=development
PORT=3000

# Secretos (Cambiarlos en producción)
JWT_SECRET=super_secret_vimu_devs
RESEND_API_KEY=replace_me_with_resend_api_key
