<header class="navbar" [class.navbar--scrolled]="scrolled()">
  <div class="navbar__inner container">

    <a routerLink="/" class="navbar__logo">
      <img src="assets/logos/vimu-logo-banner.svg" alt="VIMU DEVS" class="navbar__logo-img" />
    </a>

    <nav class="navbar__nav">
      @for (link of navLinks; track link.label) {
        <button class="navbar__link" (click)="scrollTo(link.fragment)">
          {{ link.label }}
        </button>
      }
      <button type="button" class="navbar__cta" (click)="scrollTo('contacto')">
        Cotiza con nosotros
      </button>
    </nav>

  </div>
</header>
